*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: "BespokeStencil-Variable";
  src: url("/fonts/BespokeStencil-Variable.woff2") format("woff2"),
    url("/fonts/BespokeStencil-Variable.woff") format("woff"),
    url("/fonts/BespokeStencil-Variable.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Supreme-Variable";
  src: url("../fonts/Supreme-Variable.woff2") format("woff2"),
    url("../fonts/Supreme-Variable.woff") format("woff"),
    url("../fonts/Supreme-Variable.ttf") format("truetype");
  font-weight: 100 800;
  font-display: swap;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "BespokeStencil-Variable";
  font-weight: 900;
}

body {
  font-family: "Supreme-Variable";
  font-weight: 400;
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

a {
  color: #031927;
  text-decoration: none;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.scroll-watcher {
  height: 10px;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #ff9b85;
  width: 100%;
  scale: 0 1;
  transform-origin: left;
  animation: scroll linear;
  animation-timeline: scroll();
}

/* .header-content {
  animation: fadeOut linear;
  animation-timeline: view();
  animation-range: exit -20rem;
} */

@keyframes scroll {
  to {
    scale: 1 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@media (prefers-reduced-motion: no-preference) {
  section {
    scale: 0.8;
    opacity: 0;
    animation: fadeIn linear forwards;
    animation-timeline: view();
    animation-range: 25rem 50rem;
    /* animation-range-start: cover;
    animation-range-end: 700px; */
  }

  @keyframes fadeIn {
    /* from {
      scale: 0.8;
      opacity: 0;
    } */

    to {
      scale: 1;
      opacity: 1;
    }
  }
}
