<section>
  <div class="wrapper">
    <h2>Start Simplifying Payments</h2>
    <p>
      Join thousands already enjoying a hassle-free payment experience! Sign up
      now!
    </p>
    <div class="form-wrapper">
      <form>
        <div>
          <label for="">Name</label>
          <input type="text" placeholder="Enter your name" />
        </div>
        <div>
          <label for="">Email</label>
          <input type="email" placeholder="Enter your email" />
        </div>
        <div>
          <label for="">Password</label>
          <input type="password" placeholder="Enter your password" />
        </div>
        <button>Sign Up Now</button>
      </form>
    </div>
  </div>
</section>

<style>
  section {
    background-color: #ee6055;
    color: aliceblue;
    padding: 5rem 0;
  }

  h2 {
    text-align: center;
    font-size: 3.5rem;
  }
  p {
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
  }

  form {
    margin: 5rem 0;
    color: #031927;
    background-color: #60d394;
    padding: 5rem;
    border-radius: 10px;
    box-shadow:
      0 1rem 1rem 1rem rgba(0, 0, 0, 0.307),
      0 0.8rem 0.8rem 0.8rem rgba(0, 0, 0, 0.28),
      0 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.248),
      0 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.166);
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  form div {
    display: flex;
    flex-direction: column;
  }

  form div label {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  form div input {
    border: none;
    border-radius: 10px;
    padding: 1.6rem 5rem;
    outline: none;
    font-size: 2rem;
    color: #031927;
    font-weight: 700;
    width: 100%;
  }

  form button {
    align-self: flex-start;
    border: none;
    padding: 1.6rem 5rem;
    font-size: 2rem;
    font-weight: 900;
    border-radius: 10px;
    color: #ee6055;
    cursor: pointer;
  }
</style>
