<header>
  <section class="wrapper header-content">
    <h2>Transforming Payment Experiences</h2>
    <p>
      Empower your business with our seamless payment solutions tailored for <br
      />
      <span>Discover the easiest way to handle transactions seamlessly.</span>
    </p>

    <button>Get Started &rarr;</button>
  </section>
</header>

<style>
  header {
    background: #031927;
    color: #c8e0f4;
    line-height: 1.5;
    letter-spacing: 1.5px;
  }

  .header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4rem;
    height: 80vh;
  }

  h2 {
    font-size: 5rem;
    color: #ff9b85;
  }

  p {
    font-size: 2rem;
    font-weight: 100;
    color: #ffd97d;
  }

  button {
    border: none;
    padding: 1.6rem 3.2rem;
    font-size: 2rem;
    font-weight: 900;
    border-radius: 10px;
    background: linear-gradient(to left top, #ff9b85, #ffd97d);
    cursor: pointer;
    transition: all 0.3s linear;
    box-shadow:
      0 5px 5px #c8e0f48a,
      0 3px 3px #ffd87d8e;
  }

  button:hover {
    background: linear-gradient(to left, #ff9b85, #ffd97d);
    transform: translateY(-5px);
    box-shadow:
      0 7px 7px #c8e0f48a,
      0 5px 5px #ffd87d8e;
  }
</style>
