---

---

<nav>
  <div class="wrapper flex">
    <h1>
      <a href="/">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-building-2"
          ><path d="M6 22V4a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v18Z"></path><path
            d="M6 12H4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h2"></path><path
            d="M18 9h2a2 2 0 0 1 2 2v9a2 2 0 0 1-2 2h-2"></path><path
            d="M10 6h4"></path><path d="M10 10h4"></path><path d="M10 14h4"
          ></path><path d="M10 18h4"></path></svg
        >
         Acme
      </a>
    </h1>
    <ul class="flex">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Services</a>
      </li>
      <li>
        <a href="#">About Me</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<div class="scroll-watcher"></div>
<style>
  nav {
    background-color: #031927;
    color: #f0ffff;
    padding: 2rem;
    border-bottom: 1px solid #c8e0f4;
  }

  h1,
  h1 a {
    font-size: 3.5rem;
    color: #ff9b85;
  }

  ul li a {
    color: #f0ffff;
    font-size: 1.8rem;
    transition: color 0.3s linear;
  }

  ul li a:hover {
    color: #ff9b85;
  }
</style>
