<section>
  <h2>What Our Clients Say</h2>
  <div class="users wrapper">
    <div class="user user-card-1">
      <img src="/assets/images/user-2.jpg" alt="user image" />
      <p>
        &quot;Using [Your Service/Product], we saw an immediate boost in sales
        and customer satisfaction!&quot;
      </p>
      <small><em>&mdash; John D., Founder of Startup Y</em></small>
    </div>
    <div class="user user-card-1">
      <img src="/assets/images/user-1.jpg" alt="user image" />
      <p>
        &quot;Using [Your Service/Product], we saw an immediate boost in sales
        and customer satisfaction!&quot;
      </p>
      <small><em>&mdash; Sarah T., CEO at Company X</em></small>
    </div>
    <div class="user user-card-1">
      <img src="/assets/images/user-3.jpg" alt="user image" />
      <p>
        &quot;[Your Company] revolutionized how we handle payments online.
        Highly recommended!&quot;
      </p>
      <small> <em>&mdash; John D., Founder of Startup Y</em></small>
    </div>
  </div>
</section>

<style>
  section {
    background-color: #ffd97d;
    padding-top: 6rem;
    color: #031927;
    font-size: 1.8rem;
  }

  .users {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10rem 0;
  }

  .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }

  h2 {
    text-align: center;
    color: #ee6055;
    font-size: 3.5rem;
  }

  img {
    border-radius: 100%;
    width: 8rem;
    height: 8rem;
    border: 3px solid #ee6055;
  }

  small {
    font-size: 1.2rem;
    color: #ee6055;
  }
</style>
